<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>232640355360-eoe25nadk3ugkq2m2l3plu6e7up1gul8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.232640355360-eoe25nadk3ugkq2m2l3plu6e7up1gul8</string>
	<key>API_KEY</key>
	<string>AIzaSyBqf20an8uqCEnWnQgqJXA9AZcO8l0ZhrE</string>
	<key>GCM_SENDER_ID</key>
	<string>232640355360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Base</string>
	<key>PROJECT_ID</key>
	<string>base-b2f58</string>
	<key>STORAGE_BUCKET</key>
	<string>base-b2f58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232640355360:ios:cce92c4497bc6737853045</string>
	<key>DATABASE_URL</key>
	<string>https://base-b2f58-default-rtdb.firebaseio.com</string>
</dict>
</plist>